body {
    background-color: black;
}

.box {
    width: 25rem;
    height: 30rem;
    padding: 10% 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(10, 64, 88);
    position: relative;
}

.options {
    margin-left: 10%;
    width: 80%;
    height: 10%;
    border: 5px solid white;
    border-radius: 10px;

}
button{
   margin-top: 20px;
   margin-left: 40%;
}
p{
    
    margin: 20px 5% 5px 5% ;
    height: 250px;
    width: 350px;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(141, 141, 77);
    text-align: center;
      
}